.list-none {
  list-style-type: none;
}

.whitespace-no-wrap	{
  white-space: nowrap;
}

.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

.w-1\/3 {
  width: 33.333333%;
}
.min-w-360 {
  min-width: 360px;
}

.h-full {
  height: 100%;
}

.transition {
  transition: all 160ms cubic-bezier(0.4, 0, 0.3, 1);
}

/* Space */

.pxy {
 padding: var(--global-padding) var(--global-padding);
}

.p-s {
  padding: 0.5rem;
}
.pt-xxs {
  padding-top: 0.125rem;
}
.pt-xs {
  padding-top: 0.25rem;
}
.pt-s {
  padding-top: 0.5rem;
}
.pt-rr {
  padding-top: 0.625rem;
}
.pt-r {
  padding-top: 1rem;
}
.pb-xxs {
  padding-bottom: 0.125rem;
}
.pb-xs {
  padding-bottom: 0.25rem;
}
.pb-s {
  padding-bottom: 0.5rem;
}
.pb-rr {
  padding-bottom: 0.625rem;
}
.pb-r {
  padding-bottom: 1rem;
}
.pb-l {
  padding-bottom: 2rem;
}
.pb-xl {
  padding-bottom: 4rem;
}
.pb-xxl {
  padding-bottom: 8rem;
}
.pl-xxs {
  padding-left: 0.125rem;
}
.pl-xs {
  padding-left: 0.25rem;
}
.pl-s {
  padding-left: 0.5rem;
}
.pl-rr {
  padding-left: 0.625rem;
}
.pl-r {
  padding-left: 1rem;
}
.pr-xxs {
  padding-right: 0.125rem;
}
.pr-xs {
  padding-right: 0.25rem;
}
.pr-s {
  padding-right: 0.5rem;
}
.pr-rr {
  padding-right: 0.625rem;
}
.pr-r {
  padding-right: 1rem;
}

.mt-xxs {
  margin-top: 0.125rem;
}
.mt-xs {
  margin-top: 0.25rem;
}
.mt-s {
  margin-top: 0.5rem;
}
.mt-rr {
  margin-top: 0.625rem;
}
.mt-r {
  margin-top: 1rem;
}
.mb-xxs {
  margin-bottom: 0.125rem;
}
.mb-xs {
  margin-bottom: 0.25rem;
}
.mb-s, .m-2 {
  margin-bottom: 0.5rem;
}
.mb-rr {
  margin-bottom: 0.625rem;
}
.mb-r {
  margin-bottom: 1rem;
}
.ml-xxs {
  margin-left: 0.125rem;
}
.ml-xs {
  margin-left: 0.25rem;
}
.ml-s {
  margin-left: 0.5rem;
}
.ml-rr {
  margin-left: 0.625rem;
}
.ml-r {
  margin-left: 1rem;
}
.mr-xxs {
  margin-right: 0.125rem;
}
.mr-xs {
  margin-right: 0.25rem;
}
.mr-s, .mr-2 {
  margin-right: 0.5rem;
}
.mr-rr {
  margin-right: 0.625rem;
}
.mr-r {
  margin-right: 1rem;
}
.h-r {
  height: 1rem;
}
.h-m {
  height: 1.125rem;
}
.h-l {
  height: 1.25rem;
}
.h-xl {
  height: 1.5rem;
}

/* Layout */

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.contents {
  display: contents;
}

.inline-block {
  display: inline-block;
}

.flex {
  display:flex;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}
.content-start {
  align-content: flex-start;
}
.txt-anchor-mid {
  text-anchor: middle;
}
.txt-center {
  text-align: center;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.rounded {
  border-radius: var(--corners);
}
.rounded-full {
  border-radius: 9999px;
}

.float-right {
  float: right;
}

/* Interactivity */
.cursor-pointer {
  cursor: pointer;
}
