/* Cross-browser bottom list padding */
list > *:last-child {
    padding-bottom: 115px;
}

/* Gain scrollable space adding invisible last pill to navs */
.entity-nav__ul > *:last-child,
.service-nav__ul > *:last-child {
  visibility: hidden;
}


.circle-1 {
	width: 2.5rem;
	height: 2.5rem;
}
.circle-2 {
	width: 3.5rem;
	height: 3.5rem
}
.circle-3 {
	width: 4.5rem;
	height: 4.5rem
}
