td {
  height: 26px;
}

list a {
  color: rgba(var(--brandPrimary), 1);
}

.circle-0 {
	width: 2rem;
	height: 2rem;
}
.circle-1 {
	width: 2.5rem;
	height: 2.5rem;
  border: 1px solid rgba(var(--brandPrimary), 1);
}
.circle-2 {
	width: 3.5rem;
	height: 3.5rem
}
.circle-3 {
	width: 4.5rem;
	height: 4.5rem
}

.preloader {
  display:block;
  margin: 0 auto;
  padding: 30% 0;
  width: 80%
}
.preloader__ring {
  /* padding: 5% 0 5% 0; */ */
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.preloader__ring:after {
  content: " ";
  display: block;
  width: 54px;
  height: 54px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid rgba(255,210,85, 1);
  border-color: rgba(255,210,85, 1) transparent rgba(255,210,85, 1) transparent;
  animation: preloader__ring 1.2s linear infinite;
}
.preloader__text {
  color: lightgray /* rgba(83, 96, 101, 1) */;
  display:block;
  margin:20px auto;
  /* padding:40%0; */
  width:100%;
  text-align:center;
  /* font-size: 18px; */
}
@keyframes preloader__ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}



.field__border {
    border-radius: 2px;
    background: #DBDAE3;
    padding: 1px;
    position: relative;
    transition: background 240ms cubic-bezier(0.4, 0, 0.3, 1)
}

.field__border:hover {
    background: #A9A8B3
}


.field__internal {
    background: #fff;
    border-radius: 1px;
    border: 1px solid #fff
}

.field__internal .field__label-wrapper {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 12px
}

.field__internal .label-primary {
    color: #6F7287;
    display: block;
    font-size: 14px;
    line-height: 22px;
    position: relative;
    transition: all 160ms cubic-bezier(0.4, 0, 0.3, 1);
    white-space: nowrap;
    overflow: hidden
}


.field__internal .field__input {
    background: none;
    border: none;
    color: #39364F;
    font-size: 16px;
    line-height: 23px;
    min-height: 23px;
    white-space: nowrap;
    outline: none;
    padding: 12px;
    transition: padding 160ms cubic-bezier(0.4, 0, 0.3, 1),color 400ms cubic-bezier(0.4, 0, 0.3, 1)
}

.field__internal .field__input::placeholder {
    color: transparent
}

.field__internal .field__input::-moz-placeholder {
    color: transparent
}

.field__internal .field__input.field__input--has-suffix::-ms-clear {
    display: none
}


.field__internal .label__content {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.field__internal .field__input--multiline {
    resize: none;
    white-space: pre-wrap
}

.field__internal:hover .label-primary {
    color: #6F7287
}

_:-ms-input-placeholder,:root .field__internal .field__input {
    height: 22px
}


.field__input-container,
.field__input {
    flex: 1;
    -ms-flex: 1 1 0%;
    min-width: 0
}

.field__internal,
.field__input-container {
    display: flex;
    flex-direction: row;
    position: relative
}

.field--static .field__internal .field__input-container--multiline:before {
    background: #fff;
    content: "";
    height: 22px;
    position: absolute;
    left: 0;
    right: 0
}

.field--static .field__internal .field__label-wrapper {
    padding: 2px 12px 0
}

.field--static .field__internal .label-primary {
    color: #6F7287;
    font-size: 12px;
    line-height: 22px
}

.field--static .field__internal .field__input {
    padding: 18px 12px 6px
}

.field--static .field__internal .field__input::placeholder {
    color: #A9A8B3
}

.field--static .field__internal .field__input::-moz-placeholder {
    color: #A9A8B3
}

.field--focus .field__border,
.field--focus .field__border:hover {
    background: rgba(var(--brandPrimary), 1);
    padding: 2px
}

.field--focus .field__internal {
    border: none
}

.field--focus .field__internal .label-primary {
    color: rgba(var(--brandPrimary), 1);
}

@media screen and (min-width: 800px) {
    page {
      bottom: var(--desktop-page-detach) !important;
      left: var(--desktop-page-detach) !important;
      width: 495px !important;
      border-radius: 20px;
    }
    feature {
      left: var(--desktop-page-detach);
      border-radius: 20px;
      overflow: hidden;
    }
}
