background {
  /* background: rgba(211,232,235,1); */
  background-image: linear-gradient(rgba(211,232,235,1) 50%, rgba(251,248,243,1) 50%) !important ;

}

.join-selector__input:checked,
.join-selector__input:not(:checked){
  position: absolute;
  visibility: hidden;
}

.join-selector__input:checked + label {
  background: rgba(var(--brandSecondary), 1);
}

td {
  height: 26px;
}

.circle-0 {
	width: 2rem;
	height: 2rem;
}
.circle-1 {
	width: 2.5rem;
	height: 2.5rem;
  border: 1px solid rgba(var(--brandPrimary), 1);
}
.circle-2 {
  box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
	width: 3.5rem;
	height: 3.5rem
}
.circle-3 {
	width: 4.5rem;
	height: 4.5rem
}

.preloader {
  display:block;
  margin: 0 auto;
  padding: 30% 0;
  width: 80%
}
.preloader__ring {
  /* padding: 5% 0 5% 0; */ */
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.preloader__ring:after {
  content: " ";
  display: block;
  width: 54px;
  height: 54px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid rgba(255,210,85, 1);
  border-color: rgba(255,210,85, 1) transparent rgba(255,210,85, 1) transparent;
  animation: preloader__ring 1.2s linear infinite;
}
.preloader__text {
  color: lightgray /* rgba(83, 96, 101, 1) */;
  display:block;
  margin:20px auto;
  /* padding:40%0; */
  width:100%;
  text-align:center;
  /* font-size: 18px; */
}
@keyframes preloader__ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

/* in the style of the leaflet.js popup */

.popup {
  width: 65%;
  margin: 0 auto 12px;
  opacity: 0;
  /* transition: opacity 0.2s linear; */
  transform: translate3d(0px, 0px, 0px);
}

.popup-content-wrapper {
    background: white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    padding: 1px;
    border-radius: 12px;
}

.popup-content-close {
    position: absolute;
    right: 8px;
    top: 8px;
}

.popup-content {
    margin: 15px 10px;
}

.popup-tip-container {
    width: 40px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    overflow: hidden;
    pointer-events: none;
}

.popup-tip {
    background: white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    width: 17px;
    height: 17px;
    padding: 1px;
    margin: -10px auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.field__border {
    border-radius: 2px;
    background: #DBDAE3;
    padding: 1px;
    position: relative;
    transition: background 240ms cubic-bezier(0.4, 0, 0.3, 1)
}

.field__border:hover {
    background: #A9A8B3
}


.field__internal {
    background: #fff;
    border-radius: 1px;
    border: 1px solid #fff
}

.field__internal .field__label-wrapper {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 12px
}

.field__internal .label-primary {
    color: #6F7287;
    display: block;
    font-size: 14px;
    line-height: 22px;
    position: relative;
    transition: all 160ms cubic-bezier(0.4, 0, 0.3, 1);
    white-space: nowrap;
    overflow: hidden
}


.field__internal .field__input {
    background: none;
    border: none;
    color: #39364F;
    font-size: 16px;
    line-height: 23px;
    min-height: 23px;
    white-space: nowrap;
    outline: none;
    padding: 12px;
    transition: padding 160ms cubic-bezier(0.4, 0, 0.3, 1),color 400ms cubic-bezier(0.4, 0, 0.3, 1)
}

.field__internal .field__input::placeholder {
    color: transparent
}

.field__internal .field__input::-moz-placeholder {
    color: transparent
}

.field__internal .field__input.field__input--has-suffix::-ms-clear {
    display: none
}


.field__internal .label__content {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.field__internal .field__input--multiline {
    resize: none;
    white-space: pre-wrap
}

.field__internal:hover .label-primary {
    color: #6F7287
}

_:-ms-input-placeholder,:root .field__internal .field__input {
    height: 22px
}


.field__input-container,
.field__input {
    flex: 1;
    -ms-flex: 1 1 0%;
    min-width: 0
}

.field__internal,
.field__input-container {
    display: flex;
    flex-direction: row;
    position: relative
}

.field--static .field__internal .field__input-container--multiline:before {
    background: #fff;
    content: "";
    height: 22px;
    position: absolute;
    left: 0;
    right: 0
}

.field--static .field__internal .field__label-wrapper {
    padding: 2px 12px 0
}

.field--static .field__internal .label-primary {
    color: #6F7287;
    font-size: 12px;
    line-height: 22px
}

.field--static .field__internal .field__input {
    padding: 18px 12px 6px
}

.field--static .field__internal .field__input::placeholder {
    color: #A9A8B3
}

.field--static .field__internal .field__input::-moz-placeholder {
    color: #A9A8B3
}

.field--focus .field__border,
.field--focus .field__border:hover {
    background: rgba(var(--brandPrimary), 1);
    padding: 2px
}

.field--focus .field__internal {
    border: none
}

.field--focus .field__internal .label-primary {
    color: rgba(var(--brandPrimary), 1);
}

@media screen and (min-width: 800px) {
    page {
      bottom: var(--desktop-page-detach) !important;
      left: var(--desktop-page-detach) !important;
      width: 495px !important;
      border-radius: 20px;
    }
    logo {
      width: 495px !important;
    }
    feature {
      left: var(--desktop-page-detach);
      border-radius: 20px;
      overflow: hidden;
    }
}

/* ====================== Progress Bar ================ */

@keyframes loader {
  0% {
    width: 0;
  }

  15% {
    width: 65%;
  }

  25% {
    width: 75%;
  }

  50% {
    width: 78%;
  }

  65% {
    width: 85%;
  }

  92% {
    width: 92%;
  }

  100% {
    width: 100%;
  }
}

.progress-bar {
  overflow: hidden;
  width: 100%;
}

.bar {
  display: block;
  background: rgba(0, 0, 0, 0.075);
}

.progress {
  display: block;
  animation: loader 12s ease forwards;
  /* Change the animation fill mode 'infinite' to 'forwards' to stop the animation from repeating. */
  background: rgba(var(--brandPrimary), 1);
  padding: 2px;
  width: 0;
}

/* ====================== Nudge Arrow ================ */

.nudge-arrow {
  width: 80px;
  margin: 0 auto;
}
.nudge-arrow__profile {
  height: 110px;
  transform: scale(-1, -1) rotate(-10deg);
}
.nudge-arrow__skill {
  height: 80px;
  transform: scale(1, -1) rotate(20deg);
}
.draw-nudge-arrow {
  stroke-width: 3;
  stroke: blue;
  fill: none;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: draw;
          animation-name: draw;
}
.draw-nudge-arrow .tail-1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.draw-nudge-arrow .tail-2 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}




/**
 * Tabs
 * adjusted from https://codepen.io/alvarotrigo/pen/bGoPzMe
 */

#tab1:checked ~ content .tab1__content,
#tab2:checked ~ content .tab2__content,
#tab3:checked ~ content .tab3__content,
#tab4:checked ~ content .tab4__content,
#tab5:checked ~ content .tab5__content,
#tab6:checked ~ content .tab6__content,
#tab7:checked ~ content .tab7__content,
#tab8:checked ~ content .tab8__content {
  display: block;
}

#tab1:checked ~ nav .tab1__label,
#tab2:checked ~ nav .tab2__label,
#tab3:checked ~ nav .tab3__label,
#tab4:checked ~ nav .tab4__label,
#tab5:checked ~ nav .tab5__label,
#tab6:checked ~ nav .tab6__label,
#tab7:checked ~ nav .tab7__label,
#tab8:checked ~ nav .tab8__label {
  background: honeydew;
}

/* #tab1:checked ~ nav .tab1__label:after,
#tab2:checked ~ nav .tab2__label:after,
#tab3:checked ~ nav .tab3__label:after,
#tab4:checked ~ nav .tab4__label:after,
#tab5:checked ~ nav .tab5__label:after,
#tab6:checked ~ nav .tab6__label:after,
#tab7:checked ~ nav .tab7__label:after,
#tab8:checked ~ nav .tab8__label:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  left: 0;
  bottom: -1px;
} */

tabs {
  margin-bottom: 12px;
}

tabs .tab-input {
  display: none;
}

tabs content .tab-content {
  display: none;
  /* padding: 20px;
  border: 1px solid #ddd;
  background: #fff; */
}

tabs ul {
  display: flex;
  /* padding: 4px; */
  justify-content: space-between;
}
tabs ul li {
  display: flex;
}
tabs ul li label {
  width: 40px;
    position: relative;
    border-bottom: 0;
    background: #fff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 2rem 0 0;
}
/* tabs ul li label:hover {
  background: #eee;
}
tabs ul li label:active {
  background: #ddd;
}
tabs ul li:not(:last-child) label {
  border-right-width: 0;
} */
